@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&display=swap');

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #fafafa 50%, #ecd8d2 50%);
  position: relative;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.header.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}

.header button, .header span {
  margin: 0 10px;
}

.main-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 50px); /* Adjust height based on header */
  padding-top: 60px; /* To make room for the fixed header */
}

.list-section {
  width: 30%;
  overflow-y: auto;
  background-color: #3b3d5763;
  padding: 10px;
}

.map-section {
  width: 70%;
  position: relative;
  background-color: #f0f0f0;
}

#map {
  height: 100%;
  width: 100%;
}

.form-toggle-button {
  padding: 10px 20px;
  background-color: #1e3a8a; /* Dark blue color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-toggle-button:hover {
  background-color: #162d6a; /* Darker blue on hover */
}

.therapist-card {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.therapist-card:hover {
  background-color: #f5e9e6;
}

.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
}

.google-signin-button, .skip-button {
  background-color: #4285F4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.skip-button {
  background-color: #666;
}

.google-signin-button:hover {
  background-color: #357AE8;
}

.skip-button:hover {
  background-color: #555;
}

.hovered-therapist-info {
  font-family: 'Assistant', sans-serif;
  font-size: large;
  position: fixed;
  right: 15%;
  top: 54%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.673);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  width: 400px; /* Wider width */
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hovered-therapist-info img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  width: 300px; /* Wider width */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images/spa8.jpeg') no-repeat center center;
  background-size: cover;
  z-index: -1;
  filter: brightness(50%);
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
}
.option-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-button.selected {
  background-color: #d49a89; /* Selected state color */
  color: white;
}

.option-button:hover {
  background-color: #bf7762; /* Hover state color */
  color: white;
}

.hidden-checkbox {
  display: none;
}
